{{ define "content" }} {{ $remote := .Name }}
<div data-role="page" data-title="Control" id="control" data-add-back-btn="true">
    <div data-role="header" data-theme="b">
        <h1>Pi Remote Control</h1>
        <h4>{{ .Name }}</h4>
    </div>

    <div data-role="content">
        <ul id="d-list" data-role="listview" data-inset="true" data-filter="true" data-dividertheme="a">
            <li data-role="list-divider">Keys</li>
            {{- range $command := .Commands }}
            <li id="device{{ $remote }}"> <a href="#" onclick="javascript:clickedOp('{{ $remote }}', '{{ $command }}');return false;">{{ $command }}</a></li>
            {{- end }}
        </ul>
    </div>
</div>
{{ end }}